body {
  margin: 0 auto;
  padding: 0 auto;
}

* {
  list-style: none;
}

.bar-top {
  width: 100%;
  height: 90px;
  background-color: black;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #FFFF;
}


.bar-top > ul > .left_menu:first-child {
  padding: 20px 0px 0px 20px;
}

.bar-top > ul > .left_menu > a > li > img {
  width: 150px;
  height: 50px;
}

.home-page-dashboard > img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.home-page-dashboard {
  position: absolute;
}

.left_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu {
  margin-top: -35px;
  margin-left: 200px;
}

.item_right_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu > .item_right_menu > a {
  margin-left: 25px;
  color: #ffff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}

.menu > .item_right_menu > a:hover {
  filter: brightness(60%);
}



.right_options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.options_items {
  margin-top: -30px;
  margin-right: -615px;
}

.right_options > .options_items > a {
  margin-left: 25px;
  color: #ffff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}

.search_input{
  border-radius: 3px;
  border: none;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 4px;
}


.name {
  position: absolute;
  color: #ffff;
  margin-top: 170px;
  margin-left: 28px;
  font-weight: 500;
  font-size: 18px;
}






.more_movies {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  z-index: 478;
  position: absolute;
}

.movies {
  width: 100%;
  height: auto;
  margin-top: 45px;
}

.notification_tot {
  width: 10px;
  height: 10px;
  background-color: red;
  color: #ffff;
  border-radius: 30px;
  padding: 1px;
}

.account_icon {
  width: 40px;
  height: 38px;
  background-color: gray;
  margin-left: 506px;
  margin-top: -37px;
}

.account_icon > img{
    width: 40px;
    height: 38px;
    border-radius: 12px;
}

.dropdown {
  margin-top: -35px;
  margin-left: 540px;
  position: absolute;
}

.btn{
    border: none  !important;
    outline: 0 !important;
}

/**/
.title_first_row{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: #FFFF;
  margin-left: 10px;
  margin-top: 20px;
  padding: 20px;
}

.row01_series_popular {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin-top: -25px;

  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: black;
  
}

.row01_tv_popular{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin-top: -25px;

  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: black;
}


.row01_tv_popular::-webkit-scrollbar {
width:10px;
height: 10px;
}
 
.row01_tv_popular::-webkit-scrollbar-track {
background:#333;

}

 
.row01_tv_popular::-webkit-scrollbar-thumb {
background: #ff1e00;
}

.tv01 > ul > li > a > img {
  width: 250px;
  height: auto;
  margin-left: 10px;
  padding: 5px;
  transition: 0.2s;
}

.tv01 > ul > li > a > img:hover{
  transform: scale(1.1);
}



/**/



.row_02_popular{
  background-color: black;
}



.title_second_row{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #FFFF;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: black;

}

.row02_movies_popular {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: -25px;

    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
    direction: ltr;
    background-color: black;
    
  
}

.row02_movies_popular::-webkit-scrollbar {
  width:10px;
  height: 10px;
  }
   
  .row02_movies_popular::-webkit-scrollbar-track {
  background:#333;

  }

   
  .row02_movies_popular::-webkit-scrollbar-thumb {
  background: #ff1e00;
  }

.movies02 > ul > li > a > img {
    width: 250px;
    height: auto;
    margin-left: 10px;
    padding: 5px;
    transition: 0.2s;
}

.movies02 > ul > li > a > img:hover{
    transform: scale(1.1);
}

.hidden{
  display: none;
}

.container_right{
  margin-left: 10px;
}

.account_contant{
  margin-left: -210px;
  margin-top: 3px;
}


.buttons_tv_scroll{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  margin-top: 45px;
}

.buttons_tv_scroll > button{
  background-color: black;
  color: #FFF;
  z-index: 999;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 32px;
  opacity: 45%;
  transition: 0.2s;
}

.buttons_tv_scroll > button:hover{
  opacity: 80%;
}



.buttons_movies_scroll{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  margin-top: 45px;
}

.buttons_movies_scroll > button{
  background-color: black;
  color: #FFF;
  z-index: 999;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 32px;
  opacity: 45%;
  transition: 0.2s;
}

.buttons_movies_scroll > button:hover{
  opacity: 80%;
}